html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* no scroolbars */
}

#header a{
  text-decoration: none;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list{
  display: flex;
  align-items: center;
}

#header a:hover{
  color: yellow;
}

#header{
    background-color: black;
}

#header > ul, li, a, img{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 5px;
    color: white;
    font-family: 'Segoe UI';
    text-transform: bold;
    font-size: 1em;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

#header li img{
    width: 19px;
    height: 19px;
}
#header .list-item1 img {
  filter: brightness(0) saturate(100%) invert(22%) sepia(59%) saturate(3104%) hue-rotate(240deg) brightness(93%) contrast(98%);
}

#header img {
  filter: brightness(0) invert(1) sepia(100%) saturate(7500%) hue-rotate(10deg);
    fill: orange;
}
.container {
  position: relative;
}

video {
  width: 100%;
  height: 100%;
}
.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}
.text-container > h1 {
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.text-container > h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.text-container > h1 span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

