/* NAVBAR */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

#header a{
  text-decoration: none;
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list{
  display: flex;
  align-items: center;
}

#header a:hover{
  color: yellow;
}

#header{
    background-color: black;
}

#header > ul, li, a, img{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 5px;
    padding-left: 5px;
    color: white;
    font-family: 'Segoe UI';
    text-transform: bold;
    font-size: 1em;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

#header li img{
    width: 19px;
    height: 19px;
}

#header .list-item1 img {
  filter: brightness(0) saturate(100%) invert(22%) sepia(59%) saturate(3104%) hue-rotate(240deg) brightness(93%) contrast(98%);
}

#header img {
  filter: brightness(0) invert(1) sepia(100%) saturate(7500%) hue-rotate(10deg);
    fill: orange;
}
/* NAVBAR */