main{
    margin-top: 30px;
    min-height: 70vh;
    overflow: hidden;
}

#title{
    width: 100%;
    margin-top: 99px;
    margin-bottom: 80px;
}

#title h1 {
    font-family: 'Segoe UI';
    text-align: center;
    border-bottom: 3px solid orange;
    padding: 20px;
    width: 50%;
    margin: auto;
    font-weight: bold;
    font-size: 1.7em;
}

#content{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    animation: leftAnimation 0.5s ease-in both;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

#content input[type="text"]{
    width: 200%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 50px;
}

table{
    width: 100%;
}

tr{
    border-top: 1px solid #C9C9C9;
}

th, td{
    text-align: center;
    padding: 5px;
}

tfoot{
    border-top: 4px solid black;
    font-weight: bold;
}

th:first-of-type, th:last-of-type, td:first-of-type{
    text-align: left;
}

tfoot tr td:first-of-type{
    text-align: right;
}

tr:nth-child(even){
    background-color: #E8E8E8;
}


/* FOOTER */

#footer {
    position: relative;
    margin-top: 0px;
    padding: 0;
    background: url('../img/zaiskri-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

#footer img {
    width: calc(100% + 5px);
    max-height: 400px;
    box-sizing: border-box;
}

.text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h1 {
    text-transform: uppercase;
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.text-container h3 {
    text-transform: uppercase;
    font-size: 3em;
    color: red;
    margin-top: 10px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* FOOTER */
